<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Form</title>
</head>
<body>
    {% include "header.html" %}
    <div class="application-form-div">
        <h1 class="application-title">Application for {% jobRoleTitle %}</h1>
        <form action="/applicationForm" method="post" class="application-form">
            <h3>
                <label for="file-upload">Upload Your CV</label>
            </h3>
            <input type="file" name="file-upload" id="file-upload">
            <br><br>
            <button class="submit-application" id="submit">Submit Application</button>
        </form>
    </div>
    {% include "footer.html" %}
</body>
</html>