<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="manifest" href="/assets/manifest.json">
    <link rel="stylesheet" href="/stylesheets/govuk-frontend.min.css">
    <link rel="icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Eo_circle_green_blank.svg/1024px-Eo_circle_green_blank.svg.png">
  </head>
  <body class="govuk-template__body">
    <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
    <!-- component HTML -->
    <script type="module" src="/javascripts/govuk-frontend.min.js"></script>
    <script type="module">
      import { initAll } from '/javascripts/govuk-frontend.min.js'
      initAll()
    </script>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <img src="https://www.kainos.com/globalassets/images/5_logos/kainos_logo.png?mode=crop&width=200" />

    <h1 class="govuk-heading-xl">Add an employee</h1>

      {% if errormessage %} 
          <div class="govuk-error-message" id="create-employee-error">{{ errormessage }}</div> 
      {% endif %}

    <form class="form" action="/insert-employee" method="post">

      <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l">
                  Forename
              </label>
          </h1>
          <input class="govuk-input" id="fname" name="fname" value="{{fname}}" type="text">

          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l">
                Surname
            </label>
        </h1>
        <input class="govuk-input" id="lname" name="lname" value="{{lname}}" type="text">

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l">
              Email
          </label>
        </h1>
        <input class="govuk-input" id="email" name="email" value="{{email}}" type="text">

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l">
              Address Line 1
          </label>
        </h1>
        <input class="govuk-input" id="address" name="address" value="{{address}}" type="text">

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l">
              Address Line 2
          </label>
        </h1>
        <input class="govuk-input" id="address2" name="address2" value="{{address2}}" type="text">

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l">
              City
          </label>
        </h1>
        <input class="govuk-input" id="city" name="city" value="{{city}}" type="text">

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l">
              County
          </label>
        </h1>
        <input class="govuk-input" id="county" name="county" value="{{county}}" type="text">

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l">
              Post Code
          </label>
        </h1>
        <input class="govuk-input" id="postalCode" name="postalCode" value="{{postalCode}}" type="text">

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l">
              Country
          </label>
        </h1>
        <input class="govuk-input" id="country" name="country" value="{{country}}" type="text">

          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l">
                Phone Number
            </label>
          </h1>
          <input class="govuk-input" id="phoneNo" name="phoneNo" value="{{phoneNo}}" type="text">

          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l">
                Bank Number
            </label>
          </h1>
          <input class="govuk-input" id="bankNo" name="bankNo" value="{{bankNo}}" type="text">

          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l">
                National Insurance Number
            </label>
          </h1>
          <input class="govuk-input" id="nin" name="nin" value="{{nin}}" type="text">

          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l">
                Salary
            </label>
          </h1>
          <input class="govuk-input" id="salary" name="salary" value="{{salary}}" type="text">
      </div>

      <button class="govuk-button" id="submit">Submit</button>
    </form>

  </div>
</div>
  </body>
</html>

