<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <title>Employee Example - GOV.UK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <link rel="manifest" href="/assets/manifest.json">
    <link rel="stylesheet" href="/stylesheets/govuk-frontend.min.css">
  </head>
  <body class="govuk-template__body">
    <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
    <!-- component HTML -->
    <script type="module" src="/javascripts/govuk-frontend.min.js"></script>
    <script type="module">
      import { initAll } from '/javascripts/govuk-frontend.min.js'
      initAll()
    </script>

    <form action="/employees">
      <button class="govuk-button" id="view-employees-button">View all employees</button>
    </form>

    <form action="/insert-employee">
      <button class="govuk-button" id="add-employee-button">Add new employee</button>
    </form>
  </body>
</html>