<footer>


    <div class="container2">
      <img src="./assets/images/footer.png" alt="footerimage" width="100%" length="200px">
      <div class="contactdets">
        <p1>Contact us:</p1>
        <a href="https://www.instagram.com/kainossoftware/">
          <button1><img src="./assets/images/instaicon.png" alt="Logo" width="50" height="50"></button1>
        </a>
        <a href="https://www.facebook.com/KainosSoftware/?locale=en_GB">
          <button1><img src="./assets/images/facebooklogo.png" alt="Logo" width="80" height="80"></button1>
        </a>
      </div>
  
  
    </div>
  </footer>