<nav class="header">
    <div class="headerformat">
        <div class="middle">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menuoptions">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
          </div>
          <div class="collapse navbar-collapse" id="menuoptions">
            <ul class="nav navbar-nav">
            <div class="imagepositioning">
                <li>
                    <img src="./assets/images/LOGO.png" alt="Logo" width="100" height="35">
                  </li>
            </div>
            <div class="homepositioning">
                <li class="active"><a style ="color:#252D4F" href="views/home.html">Home</a></li>
            </div>
            <div class="twopositioning">
                <li><a style ="color:#252D4F"href="#">Jobs</a></li>
            </div>
            <div class="threepositioning">
                <li><a style ="color:#252D4F" href="#">Projects</a></li>
            </div>
            <div class="fourpositioning">
                <li><a style ="color:#252D4F" href="#">Contact</a></li>
            </div>
            <div class="sharebutton">
              <li><img src="./assets/images/share.png" alt="Logo" width="20" height="20"></li>
          </div>
          <div class="getintouch">
            <button class="button2"><b>Get in touch</b></button>
        </div>
        <div class="search">
          <li><img src="./assets/images/m2i8K9b1G6K9m2N4.jpg-removebg-preview.png" alt="Logo" width="25" height="20"></li>
      </div>
            </ul>
          </div>
        </div>
    </div>
    </nav>