<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kainos</title>
  <link rel="icon" type="image/x-icon" href="https://companieslogo.com/img/orig/KNOS.L-8a0d29cc.png?t=1720244492">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="./stylesheets/kainos.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  {% include "header.html" %}
<section>
  <video autoplay muted loop>
    <source src="./assets/images/Kainos_ Our people write our story.mp4" type="video/mp4" id="kainosvideo">
    <!-- <source src="movie.ogg" type="video/ogg"> -->
  Your browser does not support the video tag.
  </video> 
    <br>
    <br>
    <div class="images_section">
    <div class="pictures1" id="imagekainos1home">
      
          <img src="./assets/images/picture1.webp" alt="Logo" width="375px"
          height="450px">
  </div>
  <div class="picture2" id="imagekainos2home">
    <img src="./assets/images/picture2.webp" alt="Logo" width="380px"
    height="450px">
  </div>
  <div class="information" id="introkainos">
    <p>About us</p>
    <heading><b>True transformation changes everything</b></heading>
    <br>
    <br>
    <p>
      We reimagine how organisations operate, creating new ways of working that improve people’s experiences and lives. We do this by harnessing the imagination, enthusiasm, and talent of our incredible people who, together with our customers, deliver game-changing results.
    </p>
  </div>

</div>

<div class="images_section">

  <div class="information" id="paragraphkainos">
    <p>Careers</p>
    <heading><b>Let’s do amazing things together</b></heading>
    <br>
    <br>
    <p>
      Our people lead from the front, solving the biggest challenges for the world’s biggest brands. Work on projects that make a real difference, build a better world through technology, and leave a lasting positive impact and change the way our customers work for the better.
    </p>
  </div>

  <div class="pictures1" id="imagekainos3home">
    
        <img src="./assets/images/picture3.webp" alt="Logo" width="380px"
        height="450px">
      
</div>


<div class="picture2" id="imagekainos4home">

  <img src="./assets/images/picture4.webp" alt="Logo" width="375px"
  height="450px">

</div>
</div>
<br>
<br>
{% include "footer.html" %}
</body>
</html>