<!DOCTYPE html>
<html lang="en">
<head>
    <title>Job Role List</title>
    <link rel="icon" type="image/x-icon" href="https://companieslogo.com/img/orig/KNOS.L-8a0d29cc.png?t=1720244492">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/kainos.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    {% include "header.html" %}
    <div class="form-jobroles-wrapper">
        <div class="jobrole-container">
            <h1 class="text-center" style="color:#252D4F; margin-top: 20px;">Job Roles</h1>
            <div class="table-responsive">
                <table class="table table-striped table-hover" id="table">
                    <thead>
                        <tr id="table-header">
                            <th class="text-center">
                                <a href="?orderBy=roleName&direction={% if orderBy == 'roleName' and direction == 'ASC' %}DESC{% elif orderBy == 'roleName' and direction == 'DESC' %}{% else %}ASC{% endif %}" style="color: black;">Job Role</a>
                            </th>
                            <th class="text-center">
                                <a href="?orderBy=location&direction={% if orderBy == 'location' and direction == 'ASC' %}DESC{% elif orderBy == 'location' and direction == 'DESC' %}{% else %}ASC{% endif %}" style="color: black;">Location</a>
                            </th>
                            <th class="text-center">
                                <a href="?orderBy=band&direction={% if orderBy == 'band' and direction == 'ASC' %}DESC{% elif orderBy == 'band' and direction == 'DESC' %}{% else %}ASC{% endif %}" style="color: black;">Band</a>
                            </th>
                            <th class="text-center">
                                <a href="?orderBy=capability&direction={% if orderBy == 'capability' and direction == 'ASC' %}DESC{% elif orderBy == 'capability' and direction == 'DESC' %}{% else %}ASC{% endif %}" style="color: black;">Capability</a>
                            </th>
                            <th class="text-center">
                                <a href="?orderBy=closingDate&direction={% if orderBy == 'closingDate' and direction == 'ASC' %}DESC{% elif orderBy == 'closingDate' and direction == 'DESC' %}{% else %}ASC{% endif %}" style="color: black;">Closing Date</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="table-body">

                        {% for jobRole in jobRoles %}

                        <tr id="table-rows">
                            <td class="text-center" style="color: black;">
                                <a href="/job-roles/{{jobRole.jobRoleId}}" class="accessible-link">{{ jobRole.roleName }}</a>
                            <td class="text-center" style="color: black;" id="row-location">{{ jobRole.location }}</td>
                            <td class="text-center" style="color: black;" id="row-band">{{ jobRole.bandValue }}</td>
                            <td class="text-center" style="color: black;" id="row-capability">{{ jobRole.capabilityName }}</td>
                            <td class="text-center" style="color: black;" id="row-closingdate">{{ jobRole.formattedClosingDate }}</td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</body>
</html>
