<!DOCTYPE html>
<html>
    <head>
        <title>Job Role {{ jobRole.roleName }}</title>
    </head>
    <body>  
        <h1>Role Name {{ jobRole.roleName }}</h1>
        <h3>Description: {{ jobRole.description }}</h3>
        <h3>Responsibilities: {{ jobRole.responsibilities }}</h3>
        <h3>Specification Link: {{ jobRole.specificationLink }}</h3>
        <h3>Location: {{ jobRole.location }}</h3>
        <h3>Capability: {{ jobRole.capabilityName }}</h3>
        <h3>Band: {{ jobRole.bandValue }}</h3>
        <h3>Closing Date: {{ jobRole.formattedClosingDate }}</h3>
    </body>
</html>
