<!DOCTYPE html>
<html lang="en">
<head>

  <title>Role Details</title>
  <link rel="icon" type="image/x-icon" href="https://companieslogo.com/img/orig/KNOS.L-8a0d29cc.png?t=1720244492">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/kainos.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>
  {% include "header.html" %}
<div class="form-jobroles-wrapper">
    <div class="jobroledetail-container">
        <div class="table-responsive">
            <table class="table table-striped table-hover" id="table">
                <thead>

                    <h2><strong>{{ jobRole.roleName }}</strong></h2>
                    <h3><strong>Description:</strong></h3>
                        <p4 class="leftalign"> {{ jobRole.description }}</p4>
                        <h3><strong>Responsibilities:</strong></h3>
                        <p4>{{ jobRole.responsibilities }}</p4>
                        <h3><strong>Specification Link:</strong></h3>
                        <p4><a href="{{ jobRole.specification }}" target="_blank">{{ jobRole.specification }}</a></p4>
                        <h3><strong>Location:</strong></h3>
                        <p4>{{ jobRole.location }}</p4>
                        <h3><strong>Capability:</strong></h3>
                        <p4>{{ jobRole.capabilityName }}</p4>
                        <h3><strong>Band:</strong></h3>
                        <p4>{{ jobRole.bandValue }}</p4>
                        <h3><strong>Closing Date:</strong></h3>
                        <p4>{{ jobRole.formattedClosingDate }}</p4>
                </tbody>
            </table>
        </div>
    </div>
</div>
    {% include "footer.html" %}
</body>

</html>
