<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="https://companieslogo.com/img/orig/KNOS.L-8a0d29cc.png?t=1720244492">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/kainos.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    {% include "header.html" %}
    {% if errormessage %}
        <h2 id="error-message">
            {{ errormessage }}
        </h2>
    {% endif %}
    <div class="form-container-wrapper">
        <div class="form-container">
            <h1>
                Login
            </h1>
            <br>
            <form action="/loginForm" method="post">
                <h4>
                    <label for="email">
                        Email
                    </label>
                </h4>
                <input 
                    type="email" 
                    name="email" 
                    id="email" 
                    value="{{email}}" 
                    placeholder="email"
                    title="Email should match the format <your_name>@<mail_server>.<domain>">
                <h4>
                    <label for="password">
                        Password
                    </label>
                </h4>
                <input 
                    type="password"
                    name="password" 
                    id="password" 
                    value="{{password}}" 
                    placeholder="password"
                    title="Password must contain 1 or more uppercase, lowercase, special characters, and digits. Password must also be 8 or more characters in length.">
                <br>
                <button class="login-button" id="submit">Submit</button>
            </form>
        </div>
    </div>
    {% include "footer.html" %}
</body>
<script type="text/javascript">
    function noBack() {
        window.history.forward()
    }
    
    function checkLoggedOut() {
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('loggedOut')) {
            noBack();
            window.onload = noBack;
            window.onpageshow = function(evt) { if (evt.persisted) noBack() }
            window.onunload = function() { void (0) }
        }
    }

    checkLoggedOut();
</script>
</html>