<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="https://companieslogo.com/img/orig/KNOS.L-8a0d29cc.png?t=1720244492">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/kainos.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    {% include "header.html" %}
    <div class="form-container-wrapper">
        <div class="form-container">
            <h1>
                Login
            </h1>
            {% if errormessage %}
            <h2>
                {{ errormessage }}
            </h2>
            {% endif %}
        
            <form action="/loginForm" method="post">
                <h3>
                    <label for="email">
                        Email:
                    </label>
                </h3>
                <input type="email" name="email" id="email" value="{{email}}">
                <h3>
                    <label for="password">
                        Password
                    </label>
                </h3>
                <input type="password" name="password" id="password" value="{{password}}">
                <br><br>
                <button class="login-button" id="submit">Submit</button>
            </form>
        </div>
    </div>
    {% include "footer.html" %}
</body>
</html>